<h1 id="room" data-room_id="<%= @room.id %>" data-member_id="<%= current_member.id %>"><%= @member.name %>さんとのメッセージ</h1>

<h1></h1>
<form>
  <label>メッセージ:</label><br>
  <textarea id="chat-input" data-behavior="room_speaker" placeholder="メッセージを入力"></textarea>
</form>

<div class="line-bc" id="messages">
  <% @messages.each do |message| %>
    <% if message.member_id == current_member.id %>
      <%= render "members/messages/my_message", { message: message } %>
    <% else %>
      <%= render "members/messages/message", { message: message } %>
    <% end %>
  <% end %>
</div>
