<!-- admin_flagの値によって会員側フォームか管理者側フォームかを判断 -->
<% action = admin_flag ? admins_tweets_path : tweets_path %>

<%= form_with scope: :search, url: action, method: :get, local: true, class: "row mt-5" do |f| %>
  <div class="field col-6">
    <%= f.text_field :body, value: search_params[:body], class: "form-control", placeholder: "みんなどうしてる？" %>
  </div>

  <% if admin_flag %>
    <div class="field col-3">
      <%= f.label(:status, Tweet.human_attribute_name(:status)) %><br>
      <%= f.collection_radio_buttons(:status, Tweet.statuses, :first, :first) do |r| %>
        <%= r.radio_button(checked: r.value == @search_params[:status]) + f.label(Tweet.human_attribute_name("status.#{r.text}")) %>
      <% end %>
    </div>
  <% else %>
    <!-- 会員側の検索時はステータスが有効なツイートしか表示させない -->
    <%= f.hidden_field :status, value: :enable %>
  <% end %>

  <div class="actions col-3">
    <%= f.submit "しらべる", class: "btn btn-primary mb-5" %>
  </div>
<% end %>
