<h2>Memberツイート一覧</h2>

<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @tweet %>

<!-- ツイート検索フォーム -->
<%= render "members/tweets/search_form", { search_params: @search_params, admin_flag: false } %>

<table cellspacing="5">
  <!-- ツイート一覧 -->
  <tbody id="tweets">
    <% @tweets.each do |tweet| %>
      <tr id="tweet-<%= tweet.id %>">
        <%= render partial: "tweet", locals: { tweet: tweet, tweet_flag: true } %>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- ツイート投稿フォーム -->
<%= render "form", { tweet_flag: true } %>