<h2>タイムライン</h2>

<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @tweet %>

<!-- ツイート検索フォーム -->
<%= render "members/tweets/search_form", { search_params: @search_params, admin_flag: false } %>

<!-- ツイート投稿フォーム -->
<%= render "form", { tweet_flag: true } %>

<div class="twitter__container">
  <div class="twitter__title">
    <span class="twitter-logo">♬</span>
  </div>
  <div class="twitter__contents" id="tweets">
    <!-- ツイート一覧 -->
    <% @tweets.each do |tweet| %>
      <!-- ブロックされている会員のツイートは表示され無い -->
      <% unless tweet.member.blocking?(current_member) %>
        <div class="twitter__block" id="tweet-<%= tweet.id %>">
          <%= render partial: "tweet", locals: { tweet: tweet, tweet_flag: true, show_path: tweet_path(tweet.id) } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
