<h2>Memberツイート詳細</h2>

<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @tweet %>

<table cellspacing="5">
  <tbody id="tweet_comments">
    <!-- ツイートの詳細 -->
    <%= render "tweet", { tweet: @tweet, tweet_flag: true } %>

    <!-- ツイートに対するコメント一覧 -->
    <% @tweet.tweet_comments.each do |tweet_comment| %>
      <tr id="tweet_comment-<%= tweet_comment.id %>">
        <%= render partial: "members/tweets/tweet", locals: { tweet: tweet_comment, tweet_flag: false } %>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- コメント投稿フォーム -->
<%= render "form", { tweet: @tweet, tweet_flag: false } %>