<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :gender, "男性" %><br />
    <%= f.radio_button :gender, :男性 %>
  </div>

  <div class="field">
    <%= f.label :gender, "女性" %><br />
    <%= f.radio_button :gender, :女性 %>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日" %><br />
    <%= f.date_select :birthday, use_month_numbers: true, start_year: 1940, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :address_prefecture %><br />
    <%= f.collection_select :address_prefecture, Prefecture.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :address_city %><br />
    <%= f.collection_select :address_city, City.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :part_id, "担当パート" %><br />
    <%= collection_select :part_id, :part_id, Part.all, :id, :name, include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= f.label :genre_id, "担当パート" %><br />
    <%= collection_select :genre_id, :genre_id, Genre.all, :id, :name, include_blank: "選択してください"  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "members/shared/links" %>
