<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <p>性別：</p>
    <%= f.collection_radio_buttons(:gender, Member.genders, :first, :first) do |r| %>
      <%= r.label {r.radio_button + r.value} %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日" %><br>
    <%= f.date_select :birthday, use_month_numbers: true, start_year: 1940, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :address_prefecture %><br>
    <%= f.collection_select :address_prefecture, Prefecture.all, :name, :name %>
  </div>

  <div class="field">
    <%= f.label :address_city %><br>
    <%= f.collection_select :address_city, City.all, :name, :name %>
  </div>

  <div class="field">
    <%= f.label :part, "担当パート" %><br>
    <%= f.collection_check_boxes :part_ids, Part.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :genre, "好きなジャンル" %><br>
    <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :artist, "好きなアーティスト" %><br>
    <%= f.fields_for :artists_attributes do |a| %>
      <% for i in 1..5 do %>
        <%= a.text_field :name, name: "member[artists_attributes][#{i}][name]" %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :introduction, "自己紹介文" %><br>
    <%= f.text_area :introduction %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "members/shared/links" %>

