<!-- サブミットアクションがPATCHかPOSTかを確認し、パスを代入 -->
<% action = edit_flag ? article_path : articles_path %>

<%= form_with model: model, url: action, local: true do |f| %>

  <div class="field">
    <p>記事の種類：</p>
    <%= f.collection_radio_buttons(:category, Article.categories, :first, :first) do |r| %>
      <%= r.label {r.radio_button + r.value} %>
    <% end %>
  </div>

  <div class="field">
    <p>記事の状態：</p>
    <%= f.collection_radio_buttons(:published_status, Article.published_statuses, :first, :first) do |r| %>
      <%= r.label {r.radio_button + r.value} %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :subject, "記事の件名" %><br>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :prefecture_id, "都道府県" %><br>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :city, "活動地域" %><br>
    <%= f.collection_check_boxes :city_ids, City.all, :id, :name %>
  </div>

  <div class="field">
    <p>活動する曜日：</p>
    <%= f.collection_radio_buttons(:day_of_the_week, Article.day_of_the_weeks, :first, :first) do |r| %>
      <%= r.label {r.radio_button + r.value} %>
    <% end %>
  </div>

  <div class="field">
    <p>活動の方向性：</p>
    <%= f.collection_radio_buttons(:band_intention, Article.band_intentions, :first, :first) do |r| %>
      <%= r.label {r.radio_button + r.value} %>
    <% end %>
  </div>

  <div class="field">
    <p>性別：</p>
    <%= f.collection_radio_buttons(:gender, Article.genders, :first, :first) do |r| %>
      <%= r.label {r.radio_button + r.value} %>
    <% end %>
  </div>

  <div class="field">
    年齢<br>
    <%= f.text_field :age_min %><%= f.label :age_min, "歳" %>〜
    <%= f.text_field :age_max%><%= f.label :age_max, "歳"  %>
  </div>

  <div class="field">
    <p>バンドのテーマ：</p>
    <%= f.collection_radio_buttons(:band_theme, Article.band_themes, :first, :first) do |r| %>
      <%= r.label {r.radio_button + r.value} %>
    <% end %>
  </div>

  <div class="field">
    <p>バンドの楽曲：</p>
    <%= f.collection_radio_buttons(:music_intention, Article.music_intentions, :first, :first) do |r| %>
      <%= r.label {r.radio_button + r.value} %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :sound, "デモ音源" %><br>
    <%= f.text_field :sound %>
  </div>

  <div class="field">
    <%= f.label :body, "記事の内容" %><br>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :part, "パート" %><br>
    <%= f.collection_check_boxes :part_ids, Part.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :genre, "ジャンル" %><br>
    <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
  </div>

  <div class="actions">
    <% if edit_flag %>
      <%= f.submit "更新" %>
    <% else %>
      <%= f.submit "投稿" %>
    <% end %>
  </div>
<% end %>

