<div class="start">
  <p><%= image_tag 'start.jpg' %></p>
</div>

<section class="intro-section">
  <h1 class="intro-HeadLine animated">Welcome to</h1>
<!--   <p>The latest in time-telling technology.</p> -->
  <%= image_tag 'logo.jpg', height: "250px", class: "animated intro-HeadLine-logo" %>
</section>

<!-- Photos via Unsplash Source https://source.unsplash.com/ -->
<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about1.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">記事を投稿する</div>
      <h3 class="HeadLine mb-3">Articles</h3>
    </header>
    <p class="paragraph">
      メンバー募集記事、メンバー加入記事を投稿して全国のバンドマンに公開<br>
      あなたを必要としてるバンドマンからの返事を待とう
    </p>
  </div>
</section>

<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about2.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">日常を呟く</div>
      <h3 class="HeadLine mb-3">Tweets</h3>
    </header>
    <p class="paragraph">
      日々のたわいもない話から真面目な話まで<br>
      あなたの日常を呟いてみよう
    </p>
  </div>
</section>

<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about3.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">呟きにコメントをしよう</div>
      <h3 class="HeadLine mb-3">Comments</h3>
    </header>
    <p class="paragraph">
      みんなの呟きにコメントをしてみよう
    </p>
  </div>
</section>

<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about4.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">記事、呟き、そしてメンバーを検索する</div>
      <h3 class="HeadLine mb-3">Searches</h3>
    </header>
    <p class="paragraph">
      記事を検索して理想のバンドを見つけよう<br>
      呟き、メンバーを検索して共通の音楽性を持ったバンドメンバーと繋がろう
    </p>
  </div>
</section>

<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about5.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">メンバーとメッセージのやり取りをする</div>
      <h3 class="HeadLine mb-3">Messages</h3>
    </header>
    <p class="paragraph">
      気が合うメンバーを見つけたら個別でメッセージをしよう<br>
      メッセージはリアルタイムでチャットのように出来る
      あなたのバンドライフが始まるきっかけに
    </p>
  </div>
</section>

<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about6.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">記事をお気に入りに追加、呟きにいいねをする</div>
      <h3 class="HeadLine mb-3">Favorites</h3>
    </header>
    <p class="paragraph">
      記事をお気に入りに登録して複数のバンドを候補に検討しよう<br>
      みんなの呟きをいいねしよう<br>
      思わぬ発見があなたにやってくるかも<br>
    </p>
  </div>
</section>

<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about7.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">メンバーをフォローする</div>
      <h3 class="HeadLine mb-3">Follows</h3>
    </header>
    <p class="paragraph">
      共通の音楽性を持つメンバーを見つけたらフォローしてみよう
    </p>
  </div>
</section>

<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about8.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">お知らせを受け取る</div>
      <h3 class="HeadLine mb-3">Announces</h3>
    </header>
    <p class="paragraph">
      記事のお気に入り、呟きのいいね・コメント、新着メッセージ、新規フォロー<br>
      があればすぐにお知らせが届く
    </p>
  </div>
</section>

<section class="content-section" data-scroll>
  <figure class="figure"><%= image_tag("about9.jpg") %></figure>
  <div class="content">
    <header class="header">
      <div class="subheading">さあ、いますぐはじめてみよう</div>
      <h3 class="HeadLine mb-3">Let's start your new band life.</h3>
    </header>
    <p class="paragraph">
      新規登録、ログインは画面左上のリンクから<br>
      お試しの方はゲストログインもできます
    </p>
  </div>
</section>