<h2>バンド記事の詳細</h2>

<!-- 自分の記事の場合、編集ボタンと削除ボタンを表示 -->
<% if @article.member == current_member %>
  <div class="btn-group">
    <%= link_to "編集", edit_article_path, class: "btn btn-success" %>
    <%= link_to "削除", article_path, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn btn-danger" %>
  </div>
<% end %>

<div class="row pr-3 mb-4">
  <div class="ArticleShow col-lg-12">
    <!-- 記事の表題 -->
    <h4><%= Article.human_attribute_name(:subject) %></h4>
    <p><%= @article.subject %></p>

    <!-- 記事の内容 -->
    <h4><%= Article.human_attribute_name(:body) %></h4>
    <!-- 文章の改行を反映して表示 -->
    <p><%= simple_format(@article.body) %></p>

    <!-- 基本データ -->
    <h4>基本データ</h4>
    <div class="row">
      <div class="col-3">
        <!-- 自分の記事の場合は公開ステータスを表示する -->
        <% if @article.member.id == current_member.id %>
          <p><%= Article.human_attribute_name(:published_status) %></p>
        <% end %>
        <p><%= Article.human_attribute_name(:category) %></p>
        <p><%= Article.human_attribute_name(:prefecture_id) %></p>
        <p><%= City.model_name.human %></p>
        <p><%= Article.human_attribute_name(:day_of_the_week) %></p>
        <p><%= Article.human_attribute_name(:band_intention) %></p>
        <p><%= Article.human_attribute_name(:music_intention) %></p>
        <p><%= Article.human_attribute_name(:gender) %></p>
        <p>募集年齢</p>
      </div>

      <div class="col-9">
        <% if @article.member.id == current_member.id %>
          <p><%= Article.human_attribute_name("published_status.#{@article.published_status}") %></p>
        <% end %>

        <p><%= Article.human_attribute_name("category.#{@article.category}") %></p>
        <p><%= Article.human_attribute_name("prefecture_id.#{@article.prefecture.name}") %></p>

        <% if @article.article_cities.empty? %>
          <p>指定無し</p>
        <% else %>
          <p><% @article.article_cities.each { |article_city| %><%= article_city.city.name %><span>、</span><% } %></p>
        <% end %>

        <p><%= Article.human_attribute_name("day_of_the_week.#{@article.day_of_the_week}") %></p>
        <p><%= Article.human_attribute_name("band_intention.#{@article.band_intention}") %></p>
        <p><%= Article.human_attribute_name("music_intention.#{@article.music_intention}") %></p>
        <p><%= Article.human_attribute_name("gender.#{@article.gender}") %></p>

        <% if @article.age_min.blank? && @article.age_max.blank? %>
          <p>指定無し</p>
        <% else %>
          <p><%= @article.age_min %><span>〜</span><%= @article.age_max %>歳</p>
        <% end %>
      </div>
    </div>

    <!-- 音源 -->
    <h4><%= Article.human_attribute_name(:sound) %></h4>
    <p><%= @article.sound %></p>

    <!-- パート -->
    <h4><%= Part.model_name.human %></h4>
    <p><% @article.part_articles.each { |part_article| %><%= part_article.part.name %>、<% } %></p>

    <!-- ジャンル -->
    <h4><%= Genre.model_name.human %></h4>
    <p><% @article.genre_articles.each { |genre_article| %><%= genre_article.genre.name %>、<% } %></p>
  </div>
</div>