<h2>Admin通報詳細</h2>

<% if @notice.tweet.nil? == false %>
  <table cellspacing="5">
    <tbody>
      <%= render partial: "admins/tweets/tweet", locals: { tweet: @notice.tweet, tweet_flag: true } %>
    </tbody>
  </table>

<% elsif @notice.tweet_comment.nil? == false %>
  <table cellspacing="5">
    <tbody>
      <%= render partial: "admins/tweets/tweet", locals: { tweet: @notice.tweet_comment, tweet_flag: false } %>
    </tbody>
  </table>

<% elsif @notice.article.nil? == false %>
  <table cellspacing="5">
    <tbody>
      <%= render "admins/articles/article", { article: @notice.article } %>
    </tbody>
  </table>
<% end %>
<br>

<h4>通報内容</h4>
<p><%= @notice.body %></p><br>

<h4>通報ステータス</h4>
<%= render "layouts/status_form", { model: @notice, action: admins_notice_path(@notice) } %>
