<!-- ブロックされている会員は表示され無い -->
<% unless member.blocking?(current_member) %>
  <tr>
    <td>
      <%= link_to (attachment_image_tag member, :profile_image, :fill, 50, 50, format: 'jpeg',
      fallback: "no_image.jpg", size: 50), member %>
    </td>
    <td><%= member.id %></td>
    <td><%= member.name %></td>
    <td><%= member.address_prefecture %></td>
    <td><%= member.age %><span>歳</span></td>
    <td><%= member.gender %></td>
    <td><%= member.updated_at.strftime("%Y年%-m月%-d日(%a) %H:%M") %></td>
    <td id="relation-member-<%= member.id %>"><%= render "members/relationships/follow_button", { member: member } %></td>
    <td id="block-member-<%= member.id %>"><%= render "members/blocks/block_button", { member: member } %></td>
    <td><%= link_to "詳細", member %></td>
  </tr>
<% end %>