<h3>Member会員検索フォーム</h3>

<%= form_with scope: :search, url: members_path, method: :get, local: true do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, value: search_params[:name]%>
  </div>

  <div class="field">
    <%= f.label :gender, "性別" %><br>
    <%= f.collection_radio_buttons(:gender, Member.genders, :first, :first) do |r| %>
      <!-- r.valueと@search_params[:gender]が一致した場合はcheckedにtrueを設定する-->
      <%= r.radio_button(checked: r.value == search_params[:gender]) + r.text %>
    <% end %>
  </div>

  <div class="field">
    年齢<br>
    <%= f.text_field :age_min, value: search_params[:age_min] %><%= f.label :age_min, "歳" %>〜
    <%= f.text_field :age_max, value: search_params[:age_max] %><%= f.label :age_max, "歳"  %>
  </div>

  <div class="field">
    <%= f.label :address_prefecture, "都道府県" %><br>
    <%= f.collection_check_boxes :address_prefecture_ids, Prefecture.all, :id, :name, value: search_params[:address_prefecture_ids] %>
  </div>

  <div class="field">
    <%= f.label :address_city, "市区町村" %><br>
    <%= f.collection_check_boxes :address_city_ids, City.all, :id, :name, value: search_params[:address_city_ids] %>
  </div>

  <div class="field">
    <%= f.label :part, "担当パート" %><br>
    <%= f.collection_check_boxes :part_ids, Part.all, :id, :name, value: search_params[:part_ids] %>
  </div>

  <div class="field">
    <%= f.label :genre, "好きなジャンル" %><br>
    <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name, value: search_params[:genre_ids] %>
  </div>

  <div class="field">
    <%= f.label :artist, "好きなアーティスト" %><br>
    <%= f.fields_for :artists do |a| %>
      <%= a.text_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "検索" %>
  </div>
<% end %>