<h3>Member会員編集</h3>

<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @member %>

<%= form_with model: @member, local: true do |f| %>
   <div class="field">
    <%= f.label :profile_image, "プロフィール画像" %><br />
    <%= f.attachment_field :profile_image %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <p>性別</p>
    <%= f.radio_button :gender, :male %>
    <%= f.label :male %>
    <%= f.radio_button :gender, :female %>
    <%= f.label :female %>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日" %><br>
    <%= f.date_select :birthday, use_month_numbers: true, start_year: 1940, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
  </div>

  <div class="field">
    <%= f.label :address_prefecture %><br>
    <%= f.collection_select :address_prefecture, Prefecture.all, :name, :name %>
  </div>

  <div class="field">
    <%= f.label :address_city %><br>
    <%= f.collection_select :address_city, City.all, :name, :name %>
  </div>

  <div class="field">
    <%= f.label :sound %><br>
    <%= f.text_field :sound %>
  </div>

  <div class="field">
    <%= f.label :part, "担当パート" %><br>
    <%= f.collection_check_boxes :part_ids, Part.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :genre, "好きなジャンル" %><br>
    <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :artist, "好きなアーティスト" %><br>
    <%= f.fields_for :artists do |a| %>
      <%= a.text_field :name %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :introduction, "自己紹介文" %><br>
    <%= f.text_area :introduction %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>