<!-- 足跡機能START -->
<script>
  $(document).ready(function() {
    $("#create_access").trigger('click');
  });
</script>

<!-- 管理者としてログイン中の場合は除く -->
<% unless admin_signed_in? %>
  <%= form_with model: Access.new, url: member_accesses_path(@member) do |f| %>
    <%= f.submit "", style: "display: none", id: "create_access" %>
  <% end %>
<% end %>
<!-- 足跡機能END -->


<!-- 自分のページ、管理者としてログインしていない場合 -->
<% if @member == current_member && admin_signed_in? == false %>
  <h2>マイページ</h2>
<% else %>
  <h2><%= @member.name %>さんのページ</h2>
<% end %>

<!-- プロフィールエリア（画面左半分） -->
<div class="row">
  <div class="col-6 pr-3">
    <h3 class="mb-5">プロフィール</h3>
    <div class="row">
    <%= attachment_image_tag @member, :profile_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg", size: 300 %>
    </div>
    <!-- 管理者としてログイン中の場合は除く -->
    <% unless admin_signed_in? %>
      <!-- フォロー・アンフォローボタン＋ブロック・アンプロックボタン -->
      <div class="row mt-3">
        <span id="relation-member-<%= @member.id %>" class="mr-3">
          <%= render "members/relationships/follow_button", { member: @member } %>
        </span>
        <span id="block-member-<%= @member.id %>">
          <%= render "members/blocks/block_button", { member: @member } %>
        </span>
      </div>
    <% end %>

    <!-- フォロー・フォロワー一覧へのリンク -->
    <div class="row mt-3 mb-4">
      <div class="btn btn-warning">
        <% if admin_signed_in? %>
          <%= link_to admins_member_following_path(@member) do %>
            フォロー x <%= @member.following_member.count %>
          <% end %>
        <% else %>
          <%= link_to member_following_path(@member) do %>
            フォロー x <%= @member.following_member.count %>
          <% end %>
        <% end %>
      </div>
      <div class="btn btn-warning ml-2">
        <% if admin_signed_in? %>
          <%= link_to admins_member_followers_path(@member) do %>
            フォロワー x <%= @member.follower_member.count %>
          <% end %>
        <% else %>
          <%= link_to member_followers_path(@member) do %>
            フォロワー x <%= @member.follower_member.count %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <% if admin_signed_in? %>
        <%= link_to "ブロックリスト", admins_member_blocking_path(@member) %>
        <%= link_to "ブロッカーリスト", admins_member_blockers_path(@member) %>
      <% else %>
        <!-- ログイン中メンバー自分自身の場合 -->
        <% if @member == current_member %>
          <%= link_to "メッセージ一覧", rooms_path %>
          <%= link_to "ブロックリスト", member_blocking_path(@member) %>
          <%= link_to "足跡", member_accesses_path(@member) %>
          <%= link_to "編集", edit_member_path %>
          <%= link_to "退会", member_cancel_path(@member) %>
        <% else %>
          <% if @is_room %>
            <%= link_to "メッセージルームへ", room_path(@room_id), class: "btn-gradient-radius mb-5" %>
          <% else %>
            <%= form_with model: @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :member_id, value: @member.id %>
              <% end %>
              <%= f.submit "メッセージルームを作る", class: "btn-gradient-radius mb-5" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- メンバー情報エリア -->
    <h3 class="mt-3">
      <small><%= Member.human_attribute_name(:name) %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= @member.name %>
      </div>
    </div>
    <h3 class="mt-3">
      <small><%= Member.human_attribute_name(:gender) %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= Member.human_attribute_name("gender.#{@member.gender}") %>
      </div>
    </div>
    <h3 class="mt-3">
      <small><%= Member.human_attribute_name(:birthday) %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= @member.birthday.strftime("%Y年%-m月%-d日") %>
      </div>
    </div>
    <h3 class="mt-3">
      <small>年齢</small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= @member.age %><span>歳</span>
      </div>
    </div>
    <h3 class="mt-3">
      <small><%= Member.human_attribute_name(:address_prefecture) %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= @member.address_prefecture %>
      </div>
    </div>
    <h3 class="mt-3">
      <small><%= Member.human_attribute_name(:address_city) %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= @member.address_city %>
      </div>
    </div>
    <h3 class="mt-3">
      <small><%= Member.human_attribute_name(:sound) %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= @member.sound %>
      </div>
    </div>
    <h3 class="mt-3">
      <small>担当<%= Part.model_name.human %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <% @member.part_members.includes(:part).each { |part_member| %><%= part_member.part.name %>、<% } %>
      </div>
    </div>
    <h3 class="mt-3">
      <small>好きな<%= Genre.model_name.human %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <% @member.genre_members.includes(:genre).each { |genre_member| %><%= genre_member.genre.name %>、<% } %>
      </div>
    </div>
    <h3 class="mt-3">
      <small>好きな<%= Artist.model_name.human %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <% @member.artists.each { |artists| %><%= artists.name %>、<% } %>
      </div>
    </div>
    <h3 class="mt-3">
      <small><%= Member.human_attribute_name(:introduction) %></small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= simple_format(@member.introduction) %>
      </div>
    </div>
    <h3 class="mt-3">
      <small>登録日時</small>
    </h3>
    <div class="row">
      <div class="col-lg-12 mx-auto mb-2 pl-5">
        <%= I18n.l(@member.created_at, format: :original) %>
      </div>
    </div>
  </div>

  <!-- メンバーのタイムラインエリア（画面右半分） -->
  <div class="col-6">
    <div class="row ml-3">
      <h3 class="mb-4">タイムライン</h3>
      <% if @member.tweets.exists? %>
        <div class="twitter__container">
          <div class="twitter__title">
            <span class="twitter-logo">♬</span>
          </div>
          <div class="twitter__contents scroll" id="tweets">
            <!-- ツイート一覧 -->
            <% @member.tweets.each do |tweet| %>
              <!-- 管理者としてログインしている場合は管理者側のパスをパーシャルに渡す -->
              <% if admin_signed_in? %>
                <div class="twitter__block" id="tweet-<%= tweet.id %>">
                    <%= render partial: "members/tweets/tweet", locals: {
                    tweet: tweet, tweet_flag: true, current_member: tweet.member, show_path: admins_tweet_path(tweet.id)
                  } %>
                  </div>
              <% else %>
                <!-- ブロックされている会員のツイートは表示され無い -->
                <% unless tweet.member.blocking?(current_member) %>
                  <div class="twitter__block" id="tweet-<%= tweet.id %>">
                    <%= render partial: "members/tweets/tweet", locals: {
                    tweet: tweet, tweet_flag: true, show_path: tweet_path(tweet.id)
                  } %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <h4 class="mt-5">ツイートはありません</h4>
      <% end %>
    </div>
  </div>
</div>

<!-- バンド記事一覧 -->
<h3 class="mt-5 mb-4">バンド記事一覧</h3>
<div class="row">
  <% if @member.articles.exists? 0 %>
    <!-- 記事一覧 -->
    <% @member.articles.each do |article| %>
      <!-- 管理者としてログインしている場合は管理者側のパスをパーシャルに渡す -->
      <% if admin_signed_in? %>
        <%= render partial: "members/articles/article", locals: { article: article, article_path: admins_article_path(article.id) } %>
      <% else %>
        <!-- ブロックされている会員の記事は表示され無い -->
        <% unless article.member.blocking?(current_member) %>
          <%= render partial: "members/articles/article", locals: { article: article, article_path: article_path(article.id) } %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <h4 class="mt-3 ml-5">投稿記事はありません</h4>
  <% end %>
</div>