<tr>
  <td>
    <%= link_to (attachment_image_tag article.member, :profile_image, :fill, 50, 50, format: 'jpeg',
    fallback: "no_image.jpg", size: 50), admins_article_path(article) %>
  </td>
  <td><%= article.subject %></td>
  <td><%= article.member.name %><td>
  <td><%= article.member.address_prefecture %></td>
  <td><%= article.member.age %><span>歳</span></td>
  <td><%= article.member.gender %></td>
  <td><%= article.updated_at.strftime("%Y年%-m月%-d日(%a) %H:%M") %></td>
  <td><%= article.published_status %></td>
  <td><%= render partial: "admins/articles/favorites", locals: { article: article } %></td>
  <td><%= link_to "詳細", admins_article_path(article) %></td>
  <td><%= link_to "削除", admins_article_path(article), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %></td>
  <td><%= render "layouts/status_form", { model: article, action: admins_article_path(article) } %></td>
</tr>