<% if member_signed_in? %>
    <li class="nav-item"><%= link_to 'TOP', top_path, class: "nav-link member-menu fas fa-home" %></li>
    <li class="nav-item"><%= link_to 'バンド記事', articles_path, class: "nav-link member-menu fas fa-newspaper" %></li>
    <li class="nav-item"><%= link_to 'タイムライン', tweets_path, class: "nav-link member-menu fas fa-stream" %></li>
    <li class="nav-item"><%= link_to 'メンバ一', members_path, class: "nav-link member-menu fas fa-user" %></li>
    <li class="nav-item" id="announce-nav-item">
      <%= link_to "メッセージ" ,rooms_path, class: "nav-link member-menu fas fa-envelope" %>
      <%= render "layouts/message_unread_announce.html.erb" %>
    </li>
    <li class="nav-item" id="announce-nav-item">
      <%= link_to "お知らせ", announces_path, class: "nav-link member-menu fas fa-bell" %>
      <%= render "layouts/uncheck_announce.html.erb" %>
    </li>
    <%= attachment_image_tag current_member, :profile_image, size: 40, format: 'jpeg', fallback: "no_image.jpg", size: 40 %>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_member.name %>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdown01">
      <%= link_to "マイページ", member_path(current_member.id), class: "dropdown-item" %>
      <%= link_to "フォロー", member_following_path(current_member.id), class: "dropdown-item" %>
      <%= link_to "フォロワー", member_followers_path(current_member.id), class: "dropdown-item" %>
      <%= link_to "お気に入り", member_article_favorites_path(current_member.id), class: "dropdown-item" %>
      <%= link_to "足跡", member_accesses_index_path(current_member.id), class: "dropdown-item" %>
      <%= link_to "ブロック", member_blocking_path(current_member.id), class: "dropdown-item" %>
      <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>
<% else %>
  <li class="nav-item"><%= link_to 'メンバー登録', new_member_registration_path, class: "nav-link member-menu fas fa-user-plus" %></li>
  <li class="nav-item"><%= link_to 'ログイン', new_member_session_path, class: "nav-link member-menu fas fa-sign-in-alt" %></li>
  <!-- ゲストログイン -->
  <li class="nav-item"><%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post, class: "nav-link member-menu far fa-user" %></li>
<% end %>