<!DOCTYPE html>
<html>
  <head>
    <title>HeadBanding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-header">
      <div class="notification"><%= render "layouts/notification.html.erb" %></div>
    </div>

    <div class="flex-main">
      <div class="sidebar"><%= render "layouts/sidebar.html.erb" %></div>
      <div class="main"><%= yield %></div>
  </body>
</html>