<!DOCTYPE html>
<html>
  <head>
    <title>HeadBanding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6bb1565f31.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="row">
        <div class="col-6">
          <%= image_tag 'logo.jpg', height: "150px"%>
        </div>
        <div class="col-6 text-right">
          <% if member_signed_in? %>
            <!-- 記事新規投稿ページへのリンク -->
            <%= link_to new_article_path do %>
              <i class="fas fa-plus fa-2x" style="color: #F99292;"></i>
              <i class="fas fa-newspaper fa-3x" style="color: #F99292;"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>
    <%= render "layouts/navbar.html.erb" %>
    <main>
      <div class="container"><%= yield %></div>
    </main>

    <footer>
      <div class="footer">Copyright(C) Shigenao Kakiuchi. All Rights Researved.</div>
    </footer>
  </body>
</html>